@font-face {
font-family: 'Clear Sans Regular';
src: url('../fonts/ClearSans/ClearSans.eot');
src: url('../fonts/ClearSans/ClearSans.eot?#iefix') format('embedded-opentype'),
url('../fonts/ClearSans/ClearSans.woff') format('woff'),
url('../fonts/ClearSans/ClearSans.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Clear Sans Bold';
src: url('../fonts/ClearSans/ClearSans-Bold.eot');
src: url('../fonts/ClearSans/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ClearSans/ClearSans-Bold.woff') format('woff'),
url('../fonts/ClearSans/ClearSans-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
//font-family: 'Clear Sans Regular';
//font-family: 'Open Sans', sans-serif;

*{
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;

}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	@media (min-width: 480px){
       font-size: 15px;
       line-height: 16px;
     }
	@media (min-width: 768px){
       font-size: 16px;
       line-height: 18px;
     }
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	
}
.section-head {
	font-size: 40px;
	font-family: 'Clear Sans Bold';
	color: #86ade9;
	margin-bottom: 100px;
	text-transform: uppercase;
	text-align: center;
		@media (min-width: 480px){
	   
		}
		@media (min-width: 768px){
            font-size: 50px;
		}
		
		@media (min-width: 1200px){
           font-size: 60px;
		}
		@media (min-width: 1600px){
           font-size: 70px;
		}
}
.paragraf-small {
	font-size: 16px;
	line-height: 17px;
	@media (min-width: 768px){
            font-size: 14px;
		}
	@media (min-width: 1200px){
            font-size: 16px;
		}
}
.service__block {
	font-family: 'Clear Sans Bold';
}
.servise-description {
	color: #7b8ce6;
	font-size: 24px;
	line-height: 30px;
    @media (min-width: 480px){
       
   }
	@media (min-width: 768px){
       font-size: 28px;
	  line-height: 30px;
   }
     @media (min-width: 992px){
       font-size: 30px;
	}
	@media (min-width: 1200px){
      font-size: 34px;
	line-height: 34px;
	}
	@media (min-width: 1600px){
      font-size: 40px;
	line-height: 40px;
	}

}
.section-paragraf {
	font-size: 18px;
	line-height: 24px;
	@media (min-width: 768px){
      font-size: 20px;
	line-height: 25px;
	}
	@media (min-width: 992px){
      font-size: 30px;
	line-height: 35px;
	}
}
div.block-align-left {
	text-align: left;
}

@media (min-width: 320px){
	
}
@media (min-width: 360px){
	
}
@media (min-width: 480px){
	
}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
@media (min-width: 1600px){

}

#map {
        height: 400px;
        width: 100%;
        margin-bottom: 0;
       }