.header__contact-form {
	position: absolute;
	top: 32%;
	left: 55%;

	width: 470px;
	height: 515px;
	border-radius: 30px;
	background-color: #fff;
	padding: 60px 25px 30px;

	& p {
		color: #000;
		font-weight: 700;	
		margin-bottom: 30px;
		text-align: center;
		
	}
}
.header__contact-form input[type="text"],
 .header__contact-form input[type="submit"]{
 	display: block;
	width: 95%;
	padding: 18px;
	border-radius: 10px;
    text-transform: uppercase;
    background-color: #e3e3e3;
    color: #000;
    margin-bottom: 26px;
}
input[type="checkbox"]{
	width: 20px;
	height: 20px;
}
label.subscribe {
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	padding-left: 15px;
}
.header__contact-form input[type="submit"]{
background: rgb(160, 140, 255);
background: -webkit-linear-gradient(90deg, rgb(160, 140, 255) 48%, rgb(134, 172, 239) 66%);
background: -o-linear-gradient(90deg, rgb(160, 140, 255) 48%, rgb(134, 172, 239) 66%);
outline: none !important;
&:hover {
	background-color: rgb(134, 172, 239);}

}
